:root {
  --primary-color: rgb(56, 142, 223);
  --primary-dark: rgb(32, 108, 180);
  --secondry-color: rgb(87, 58, 255);
  --success-color: rgb(40, 218, 129);
  --danger-color: rgb(218, 64, 64);
  --warning-color: rgb(231, 169, 36);
}
